@import "../../../assets/scss/bootstrap/mixins/_breakpoints.scss";
@import "../../../assets/scss/bootstrap/variables";

.nav-link {
	padding: 0;

	@include media-breakpoint-down(md) {
		font-size: 12px;
		padding: 6px 0;
	}

}

.nav-tabs {

	.nav-link {
		border-top-right-radius: 0;
		border-top-left-radius: 0;
		padding: 0.5em 1em;
	}

}

.nav-pills {

	.nav-link {
		border-radius: 0;
		padding: 0.5em 1em;
	}

}