@import "../../../assets/scss/bootstrap/mixins/_breakpoints.scss";
@import "../../../assets/scss/bootstrap/variables";

nav.bg-inverse {
	background-color: #2c3e50 !important;

	.navbar-brand {
		font-size: 18px;
	}

	ul.navbar-nav {

		.dropdown-menu {
			border-radius: 0;
			font-size: 12px;

			.divider {
				height: 1px;
				margin: 9px 0;
				overflow: hidden;
				background-color: #e5e5e5;
			}

			.dropdown-item {

				@include media-breakpoint-down(md) {
					padding: 6px 12px;
				}

			}

		}

		.nav-link {
			color: white;
			opacity: 0.85;

			&:hover {
				color: white;
				opacity: 0.95;
			}

		}

	}

	.navbar-toggler {
		border-radius: 0;
		font-size: 1rem;
		padding: .25rem .5rem;
	}

}
