.Account {
	margin-top: 54px;

	h1 {
		margin-bottom: 20px;
		padding-bottom: 9px;
		border-bottom: 1px solid #eee;
	}

	.sidebar {
		position: fixed;
		top: 54px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		padding: 20px 0;
		overflow-x: hidden;
		overflow-y: auto;
		border-right: 1px solid #eee;

		.nav {
			margin-bottom: 20px;

			.nav-item {
				width: 100%;

				.nav-link {
					border-radius: 0;
				}

			}

		}

	}

}
