.Login {
	margin-top: 54px + 20px;

	.card {
		margin: 0 auto;
		max-width: 330px;
		padding: 20px;

		form {

			h4 {
				margin-bottom: 20px;
			}

			.form-control {
				font-size: 12px;
				margin-bottom: 10px;
			}

		}

	}

}
