.Home {
	margin-top: 54px + 20px;

	.card-block {
		padding: 1rem;
	}

	.tab-content {
		background: white;
		border-bottom: 1px solid #ddd;
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
		padding: 1em;
	}

}
