@import "../../../assets/scss/bootstrap/mixins/_breakpoints.scss";
@import "../../../assets/scss/bootstrap/variables";

.card-columns {

	@include media-breakpoint-only(lg) {
		column-count: 3;
	}

	@include media-breakpoint-only(xl) {
		column-count: 3;
	}

	.card-img-top {
		border-radius: 0;
	}

	.content {
		line-height: 15px;
		padding: 10px;

		a.comments {
			color: #ababab;
			font-size: 10px;
			font-weight: bold;

			&:hover {
				cursor: pointer;
				text-decoration: underline;
			}

		}

		a.title {
			color: #3498db;
			font-size: 14px;

			&:hover {
				text-decoration: none;
			}

		}

		.details {
			color: #ababab;
			font-size: 10px;

			a.user {

				&:hover {
					cursor: pointer;
					text-decoration: underline;
				}

			}

		}

	}

}
