.PostList {

	.card {

		.card-block {
			padding: 10px;
		}

	}

	.tab-content {
		background: white;
		border-bottom: 1px solid #ddd;
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
		margin-bottom: 10px;
		padding: 10px;

		form {

			::placeholder {
				color: #bdc3c7;
			}

			.btn {
				font-size: 11px;
			}

		}

	}

}
