.PostList {

	.card {

		.card-block {
			padding: 10px;
		}

	}

	.tab-content {
		background: white;
		border-bottom: 1px solid #ddd;
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
		margin-bottom: 10px;
		padding: 14px;

		form {

			::placeholder {
				color: #bdc3c7;
			}

		}

	}

	.post-section {
		margin-bottom: 10px;
	}

}
